.error{
    color: red;
    font-style: italic;
}

iframe{
    width: 100% !important;
    height: 350px !important;
}

.iframe iframe{
    width: 100% !important;
    height: 600px !important;
}

.border_header{
    background: #044670;
    color: white !important;
}

.border_color thead>tr>th, .border_color tbody>tr>td{
    border: 1px solid #596267;
}